# Wojciech Pragłowski

## Laboratorium 1 - podstawy

#### Zadanie 1

In [3]:
# zadanie 1
def product():
    number1 = int(input("Proszę podać pierwszą liczbę: "))
    number2 = int(input("Proszę podać drugą liczbę: "))
    return number1*number2

product()

Proszę podać pierwszą liczbę: 18
Proszę podać drugą liczbę: 21315

383670

#### Zadanie 2

In [5]:
# zadanie 2
def check_if_even(number):
    if number % 2 == 0:
        return "parzysta"
    else:
        return "nieparzysta"
    
check_if_even(11)

'nieparzysta'

#### Zadanie 3

In [7]:
# zadanie 3
def sum_of_squares(big_number):
    number1 = big_number - 1
    number2 = big_number - 2
    return ((number1**2)+(number2**2))

sum_of_squares(5)

25

#### Zadanie 4

In [9]:
# zadanie 4
def check_if_prime(number):
    nn = 2
    while nn-1 < number:
        if number == 2:
            return "Liczba pierwsza"
        elif number % nn == 0:
            return "Nie jest pierwsza"
        else:
            nn += 1
        if number == nn:
            return "Liczba pierwsza"
        
check_if_prime(4)

'Nie jest pierwsza'

#### Zadanie 5

In [33]:
# zadanie 5
def find_dividers(number):
    i = 1
    dividers = []
    while i < number:
        if number % i == 0:
            dividers.append(i)
        i += 1
    return dividers

find_dividers(15)

[1, 3, 5]

#### Zadanie 6

In [61]:
# zadanie 6
def prime_factors(number):
    dividers = []
    i = 2
    while number != 1:
        while number % i == 0:
            number //= i
            dividers.append(i)
        i += 1
    return dividers

prime_factors(16)

[2, 2, 2, 2]

#### Zadanie 7

In [66]:
# zadanie 7
def least_common_multiple(number1, number2):
    i = 2
    if number1 > number2 or number1 == number2:
        while i <= number2:
            if number1 % i == 0 and number2 % i == 0:
                return i
            else:
                i += 1
    else:
        while i <= number1:
            if number1 % i == 0 and number2 % i == 0:
                return i
            else:
                i += 1
        print("Nie ma wspólnego dzielnika poza 1")
                
least_common_multiple(4, 10)

2

#### Zadanie 8

In [68]:
# zadanie 8
def convert_to_binary(number):
    binary_number = format(number, "b")
    return binary_number

convert_to_binary(11)

'1011'

#### Zadanie 9

In [69]:
# zadanie 9
def trinomial(a, b, c):
    if a == 0 and c < 0:
        return (-c / b)
    elif a == 0 and c > 0:
        return (-c / b)
    elif a != 0 and b != 0 and c != 0:
        delta = (b**2) - (4*a*c)
        if delta == 0:
            return (-b / (2*a))
        elif delta < 0:
            return "Równanie nie posiada rozwiązań w zbiorze liczb rzeczywistych"
        else:
            x1 = (-b - (delta**0.5)) / 2*a
            x2 = (-b + (delta**0.5)) / 2*a
            return x1, x2
    elif a != 0 and b == 0 and c == 0:
        return 0
    elif a != 0 and b != 0 and c == 0:
        x0 = 0
        x02 = (-b)/a
        return x0, x02
    elif a != 0 and b == 0 and c != 0:
        if a*c > 0:
            return "Nie ma rozwiązań"
        else:
            x11 = -(((-c)/a)**0.5)
            x12 = ((-c)/a)**0.5
            return x11, x12

trinomial(1, 2, -3)

(-3.0, 1.0)

#### Zadanie 10

In [89]:
# zadanie 10
def factorial(number):
    result = 1
    for i in range(1, number+1):
        result *= i
    return result

factorial(6)

720

#### Zadanie 11

In [2]:
# zadanie 11
def fibonacci(n):
    if n == 0 or n == 1:
        return n
    else:
        return fibonacci(n-1) + fibonacci(n-2)

fibonacci(15)

610

#### Zadanie 12

In [26]:
# zadanie 12
def sum_of_list(lista):
    short = sum(lista)
#     items = 0
#     for item in lista:
#         items += item 
    return short

tablica = [1,2,3,4,5,6,7,8,9]
sum_of_list(tablica)

45

#### Zadanie 13

In [28]:
# zadanie 13
def avg_of_list(lista):
    items = 0
    for item in lista:
        items += item
    return items/len(lista)

tablica = [5,5,4,4]
avg_of_list(tablica)

4.5

#### Zadanie 14

In [24]:
# zadanie 14
def reversing_string(string):
    new_list = list(string)
    new_list.reverse()
    new_string = str(new_list)
    new_string_rep = new_string.replace("]","")
    return new_string_rep.replace("[","")

reversing_string("Ala ma kota")

"'a', 't', 'o', 'k', ' ', 'a', 'm', ' ', 'a', 'l', 'A'"

#### Zadanie 15

In [32]:
# zadanie 15
def count_big_small(string):
    counter_big = 0
    counter_small = 0
    for letter in string:
        if letter.isupper():
            counter_big += 1
        elif letter.islower():
            counter_small += 1
        else:
            continue
    return print("Dużych liter:", counter_big, "Małych liter:", counter_small)

count_big_small("Ala Ma Pytonga")

Dużych liter: 3 Małych liter: 9

#### Zadanie 16

In [33]:
# zadanie 16
def uniqe_list(lista):
    new_set = set(lista)
    return new_set

tablica = [1, 1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 8, 8]
uniqe_list(tablica)

{1, 2, 3, 4, 5, 6, 7, 8}

#### Zadanie 17

In [20]:
# zadanie 17
def dict_counter(string):
    dictionary = dict()
    new_list = list(string)
    for char in new_list:
        if char in dictionary.keys():
            dictionary[char] += 1
        else:
            dictionary[char] = 1
    return dictionary
dict_counter("ala ma kota")

{'a': 4, 'l': 1, ' ': 2, 'm': 1, 'k': 1, 'o': 1, 't': 1}

#### Zadanie 18

In [58]:
# zadanie 18
def count_words(string):
    new_string = string.split(" ")
    return new_string

count_words("Ala ma pytonga i cztery koty")

['Ala', 'ma', 'pytonga', 'i', 'cztery', 'koty']

#### Zadanie 19

In [21]:
# zadanie 19
def camel_case(string):
    new_string = string.split(" ")
    result = new_string[0] + ''.join(char.title() for char in new_string[1:])
    return result

camel_case("ala ma pythona")

'alaMaPythona'

#### Zadanie 20

In [22]:
def conv_to_norm(string):
    result = [string[0].lower()]
    for char in string[1:]:
        if char in ("ABCDEFGHIJKLMNOPQRSTUVWXYZ"):
            result.append(" ")
            result.append(char.lower())
        else:
            result.append(char)
    return "".join(result)

conv_to_norm("alaMaPythona")

'ala ma pythona'

#### Zadanie 21

In [71]:
# zadanie 21
def babilon_method(element, iterations):
    trial = element/2
    for i in range(iterations):
        divide = element/trial
        avg = (trial + divide) / 2
        trial = avg
        print("Iteracja nr", i+1, "- wynik:", trial)
        
babilon_method(25, 6)

Iteracja nr 1 - wynik: 7.25
Iteracja nr 2 - wynik: 5.349137931034482
Iteracja nr 3 - wynik: 5.011394106532552
Iteracja nr 4 - wynik: 5.000012953048684
Iteracja nr 5 - wynik: 5.000000000016778
Iteracja nr 6 - wynik: 5.0

#### Zadanie 22

In [42]:
# zadanie 22
import random
def monte_carlo(number):
    random.seed()
    points = 0
    for i in range(number):
        x = random.random()
        y = random.random()
        if x*x + y*y <= 1:
            points += 1
    our_pi = 4 * points / number
    return our_pi

monte_carlo(1500000)

3.142816

#### Zadanie 23 DO POPRAWY

In [12]:
# zadanie 23
def combine_lists(list1, list2):
    result1 = (list1[0], list2[0])
    result2 = (list1[1], list2[1])
    result3 = (list1[2], list2[2])
    result = [result1, result2, result3]
    return result

a = [1, 2, 3]
b = [4, 5, 6]
combine_lists(a, b)

[(1, 4), (2, 5), (3, 6)]

#### Zadanie 24

In [74]:
# zaadanie 24
def divide_and_not(number):
    new_list = []
    i = 3
    for i in range(number):
        if i % 3 == 0 and i % 5 != 0:
            new_list.append(i)
    return new_list

divide_and_not(100)

[3,
 6,
 9,
 12,
 18,
 21,
 24,
 27,
 33,
 36,
 39,
 42,
 48,
 51,
 54,
 57,
 63,
 66,
 69,
 72,
 78,
 81,
 84,
 87,
 93,
 96,
 99]